/* .leaflet-marker-pane {
    position: relative;
} */

.location-icon {
  position: relative;
  font-size: 1.3rem;
  color: red;
}

.location-icon:hover {
    color: #000;
}

/* .location-tooltip {
    position: absolute;
    top: 20px;
    left: -20px;
} */